.data {
    padding-left: 220px;
    align-content: center;
    align-items: center;
}

.title {
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    background-color: #FF7373;
    z-index: 1000;
}
.jumbotron {
    /*background-color: #5c5e5f;*/
    background-image: url('img/banner_bg.png');
    padding: 10px;
}
#banner-img {
    position: relative;
    right: 0;
    top: 0;
}
.tab-pane {
    padding: 60px;
}
.active {
    color: #3a3f44 !important;
}
li {
    color: #3a3f44;
}
.card {
    max-width: 30vw;
    width: 30vw;
    height: 9vw;
}
.row {
    padding-bottom: 20px;
}
.card-block img {
    height: 10vw;
    padding: 10px;
}
.card-block {
    padding: 10px !important;
}
.card {
    background-color: #2b3454;
}
.badge {
    font-family: sans-serif;
    font: impact;
    font-size: 200%;
    float: right;
    position: relative;
    top: 40;
    right: 5px;
}

.icon-background4 {
    color: #f7f7f7;
}
.icon-background6, .fa-question {
    color: #000800;
}


.mg-chart-title {
    overflow: visible;
    word-wrap: break-word;
}

    .buscador-principal .form-control {
        height: 52px;
    }

    .btn {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
        border-radius: 0;
        padding: 15px 25px;
    }
