.data {
    padding-left: 220px;
    align-content: center;
    align-items: center;
}

.title {
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    background-color: #FF7373;
    z-index: 1000;
}
.jumbotron {
    /*background-color: #5c5e5f;*/
    background-image: url('img/banner_bg.png');
    padding: 10px;
}
#banner-img {
    position: relative;
    right: 0;
    top: 0;
}
.tab-pane {
    padding: 60px;
}
.active {
    color: #3a3f44 !important;
}
li {
    color: #3a3f44;
}
.card {
    max-width: 30vw;
    width: 30vw;
    height: 9vw;
}
.row {
    padding-bottom: 20px;
}
.card-block img {
    height: 10vw;
    padding: 10px;
}
.card-block {
    padding: 10px !important;
}
.card {
    background-color: #2b3454;
}
.badge {
    font-family: sans-serif;
    font: impact;
    font-size: 200%;
    float: right;
    position: relative;
    top: 40;
    right: 5px;
}

.icon-background4 {
    color: #f7f7f7;
}
.icon-background6, .fa-question {
    color: #000800;
}




.input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        padding: 50px;
    }
    .input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .buscador-principal .form-control {
        height: 52px;
    }
    /*BUTTON COLORS OVERIDE
    .btn-primary {
        color: #fff;
        background: #0086a1;
        background-image: -webkit-linear-gradient(top, #0086a1, #00738a);
        background-image: -moz-linear-gradient(top, #0086a1, #00738a);
        background-image: -ms-linear-gradient(top, #0086a1, #00738a);
        background-image: -o-linear-gradient(top, #0086a1, #00738a);
        background-image: linear-gradient(to bottom, #0086a1, #00738a);
        border: 1px solid #0085a1;
        border-radius: 3px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -kthtml-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }*/
    .btn {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
        border-radius: 0;
        padding: 15px 25px;
    }
    @media only screen and (max-width: 768px) {
        .buscador-principal {
    		display: block;
    	}
    	.buscador-principal button{
    		width: 100%;
    	}
    	.claim-container {
    		font-size: 20px;
    		display: none;
    	}
    }
